

<section class="bg-gray-900 ">
    <div class="container mx-auto pt-40 pb-40 mb-10" id="about">
        <h1 class="text-3xl font-bold text-white text-center mb-5"> Hola, soy Marcos. Un gusto conocerte.</h1>
        <h2 class="text-2xl font-normal text-white text-center  leading-relaxed">
            Empece a programar desde hace 2 años y he trabajado en varios proyectos para DWI, y diseñado aplicaciones propias, me encanta aprender todos los dias, y buscar la excelencia en mi trabajo. Tengo una curiosidad natural y gran facilidad para adaptarme, me gusta seguir una linea de trabajo definidia y resolver un problema a la vez.
        </h2>
    </div>
</section>