---
import Redes from "./redes.astro";
---

<footer class="bg-gray-900 text-white text-center ">
    <div class="pt-20">
        <h1 class="text-3xl font-extrabold">Marcos Sanchez</h1>
        <p class="leading-relaxed text-xl mt-5">Un apasionado de aprender, jugar y mejorar cada día.</p>

        <div class="flex gap-6 items-center justify-center mt-12">
            <Redes 
                titulo="Linkedin"
                img='linkedin.svg'
                web='https://www.linkedin.com/in/marcos-sanchez-653497265/'
                />
            <Redes 
                titulo="Mail"
                img='envelope-at-fill.svg'
                web='mailto:msanchez@dwebindustrial.com'
                />
            <Redes 
                titulo="Instagram"
                img='instagram.svg'
                web='https://www.instagram.com/marcos6seis/'
                />
            <Redes 
                titulo="Letterboxd"
                img='letterboxd.svg'
                web='https://letterboxd.com/marcosseis/'
                />

        </div>
    </div>
   
    <p class="mt-6 mb-0">Hecho con lo aprendido desde 2021</p>
</footer>   