---
import Redes from "./redes.astro";
---

<section class="container mx-auto">
    <div class="pt-20 pb-0">
        <h1 class="text-3xl text-center font-semibold text-gray-900">Frontend Developer & Web Design</h1>
        <h2 class="text-xl text-center text-gray-900 mt-10">Me gusta diseñar y escribir codigo, aprender y mejorar cada día.</h2>
        <div class="flex justify-center">
            <div class="bg-slate-900 mt-20 mb-10 rounded-full">
                <img src="public/face_co.svg" alt="avatar" class="max-w-[150px]">
            </div>
        </div>
        <div class="flex justify-center">
            <Redes 
                titulo="Mail"
                img='envelope-at-fill.svg'
                web='mailto:msanchez@dwebindustrial.com'
                />
        </div>
           
        
        <div class="flex justify-center mt-40">
            <img src="apertura.svg" class="max-w-[100px]" alt="codigo apertura" >
            <img src="cpu.svg" class="max-w-[100px]" alt="computadora">
            <img src="cierre.svg" class="max-w-[100px]" alt="codigo cierre">
        </div>
       
    </div>
</section>