---
export interface Props {
    titulo:string;
    img: string;
    web: string;
}
const { titulo, img, web } = Astro.props

const backgroundImage = `url(/${img})`
---
<style define:vars={{backgroundImage}}>
    .img-background{
        background-image: var(--backgroundImage);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;  
    }
    .img-background:hover{
        background-image: none;
        background-color: #131313;
        background-position: top;
    }

</style>

<div>
    <section class="img-background mb-6 rounded-md py-15">
        <div class="py-20 group">
            <div class="px-2 invisible group-hover:visible">
                <h2 class="text-white font-semibold ">{titulo}</h2>
            </div>
            <div class="mt-5 invisible group-hover:visible">
                <a href={web}>
                    <button class="bg-transparent hover:bg-gray-100 text-gray-100 font-semibold hover:text-black py-2 px-4 border border-gray-100 hover:border-transparent rounded">
                        Visitalo
                    </button>
                </a>
            </div>
        </div>
    </section>    
</div>
